.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
}

.calculator-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 10px solid black;
    width: 400px;
    height: 400px;
}

.calculator-display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: inherit;
    background-color: gray;
}
.buttons-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.buttons-container button {
    height: 10vh;
    width: 20vh;
}